<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vigilanteyes.ua.vigilanteyes">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Security.Profile"
            android:label="Profile"
            android:parentActivityName=".Security.Rota" />
        <activity
            android:name=".Security.Rota"
            android:label="Rota"
            android:parentActivityName=".Security.HomeSecurity"/>
        <activity
            android:name=".Security.Report"
            android:label="Report"
            android:parentActivityName=".Security.HomeSecurity" />
        <activity
            android:name=".Security.HomeSecurity"
            android:label="HomeSecurity"/>
    </application>

</manifest>